body{
    width: 280px;
    height: 280px;
    background-color:rgb(227, 236, 243);
    display: flex;
    justify-content: center;
    
}
p{
    margin: auto 5px;
    font-size: 18px;
    font-style: italic;
    color: rgba(6, 83, 199, 0.932);
    border-radius: 10px;
    border: 1px solid rgb(125, 193, 218);
    padding: 8px;
   
}